@import 'mixin/_mixin.scss';
.orders-page{

	.order-filter {
		.btn-group {
			button {
				width: 100%;
				border-radius: 8px;
				display: flex;
				align-items: center;
				height: 42px;
				div {
					text-align: left;
					flex: 1;
				}
			}
			ul {

			}
		}
	}
	.main-title{
		margin:0;
	    font-size: 40px;
		color: #fbc61d;
		margin-bottom: 15px;
	}
	.wrapper-col{
	    float: left;
	    position: relative;
	    padding-bottom: 20px;
	    width: 100%;
	}

	table{
		width: 100%;
		margin-bottom: 0;
	}
	#tableHead {
	    width: 100%;
	    margin-top: 30px;

	    th{
			color: #333333;
			padding-top: 10px;
			font-size: 13px;

			&.infomations{
				min-width: 250px;
				max-width: 400px;
			}
			a{
				color: #333333;
				&.active,
				&:hover{
					color: $color-highlight;
				}
			}
		}
	}
	#tableBodyScroll {
	    overflow:hidden;
	    max-height: 384px;
	    width: 100%;
	    border-bottom: 1px solid #ccc;

	    tr{
	    	&.selected{
		    	td{
		    		background-color: #efefef
		    	}
		    }
	    }

	    td{
			vertical-align: middle;
			a{
				color: $color-highlight;
				cursor: pointer;

				&.edit{
					cursor: pointer;
					margin: 0 2px;
					display: inline-block;
				}
			}

			.product-thumbnail{
				width: 100px;
			    height: 100px;
			    background-size: 100%;
			    background-position: center;
			    background-repeat: no-repeat;
			}
		}
		.detail{
			color: #666666;
			.title{
				font-size: 16px;
				font-weight: 500;
				text-transform: uppercase
			}
			.content{

			}
		}
		.price{
			font-size: 25px;
		}
	}
	.colOne {
	    width: 100px;
	}
	.colTwo {
	    width: 120px;
	}
	.colThree {

	}
	.colFourth {
	    width: 120px;
	}
	.colFive {
	    width: 200px;
	    max-width: 200px;
	}
	.colSix {
	    width: 80px;
	    max-width: 80px;
	}



	.icon-setup{
		background-image: url(../images/setup-icon.png);
        height: 20px;
        width: 20px;
        background-size: 100%;
        display: block;
        margin: auto;
	}
	.icon-delete{
		background-image: url(../images/delete-icon.png);
        height: 20px;
        width: 20px;
        background-size: 100%;
        display: block;
        margin: auto;
	}

	.btn-style{
		background-color: #eee;
	    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
	    color: #999;
	    border-radius: 4px;
	    font-size: 20px;
	    font-weight: 300;
	    margin-right: 10px;

	    .icon-overview{
	    	background-image: url(../images/ic_arrow_left.png);
		    height: 28px;
		    width: 10px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    display: inline-block;
		    float: left;
		    margin: auto;
		    margin-right: 10px;
	    }

	    .icon-change{
	    	background-image: url(../images/ic_change.png);
		    height: 26px;
		    width: 22px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    display: inline-block;
		    float: left;
		    margin: auto;
		    margin-right: 5px;
	    }
	}

	.checkbox-custom {
		width: 18px;
    	height: 18px;
		input {
			float: left;
			width: 18px;
		    height: 18px;
		    opacity: 0;
		    margin: 0;
		}
		label {
			width: 18px;
		    height: 18px;
		    border: 1px solid #E3E3E4;
		    border-radius: 2px;
		    margin-left: -18px;
		    float: left;
		}
		input:checked + label::after {
			content: "\e013";
		    font-family: 'Glyphicons Halflings';
		    width: 18px;
		    height: 18px;
		    color: #8BC534;
		    line-height: 16px;
		    font-weight: 100;
		}
	}

	.button-actions{
		margin-top: 30px;
	}
}

@media only screen and (max-width:1140px){
       .orders-page {
       		.wrapper-col{
       			padding-right: 0;
       		}
       		.right-col{
       			position: relative;
       		}

       		.button-actions{
       			margin-left: 20px;
       			padding-top: 20px;
       			float: left;

       			.btn-style{
       				display: block;
       				margin-bottom: 20px
       			}
       		}
       }
}
@media only screen and (min-width:768px) and (max-width:1024px){
	.orders-page {

       		.table-order {
       			td {
					img{
						width: 60px;
					}
				}
       		}

       }
}

.order-details-page{

	.main-title{
		margin:0;
	    font-size: 40px;
		color: #fbc61d;
		margin-bottom: 15px;
	}
	.wrapper-col{
	    float: left;
	    position: relative;
	    padding-bottom: 20px;
	    width: 100%;
	}

	table{
		width: 100%;
		margin-bottom: 0;
	}
	#tableHead {
	    width: 100%;
	    margin-top: 30px;

	    th{
			color: #333333;
			padding-top: 10px;
			font-size: 13px;

			&.infomations{
				//min-width: 250px;
				//max-width: 400px;
			}
			a{
				color: #333333;
				&.active,
				&:hover{
					color: $color-highlight;
				}
			}
		}
	}
	#tableBodyScroll {
	    overflow:hidden;
	    max-height: 384px;
	    width: 100%;
	    border-bottom: 1px solid #ccc;

	    tr{
	    	&.selected{
		    	td{
		    		background-color: #efefef
		    	}
		    }
	    }

	    td{
			vertical-align: middle;
			a{
				&.edit{
					cursor: pointer;
					margin: 0 2px;
					display: inline-block;
				}
			}

			.product-thumbnail{
				width: 100px;
			    height: 100px;
			    background-size: 100%;
			    background-position: center;
			    background-repeat: no-repeat;
					margin-left: auto;
					margin-right: auto;
			}
		}
		.detail{
			color: #666666;
			.title{
				font-size: 16px;
				font-weight: 500;
				text-transform: uppercase
			}
			.content{

			}
		}
		.price{
			font-size: 25px;
		}
	}
	.colOne {
		//width: 10%;
	}
	.colTwo {
		width: 10%;
	}
	.colThree {
		width: 17%;
	}
	.colFourth {
		width: 50%;
	}
	.colFive {
		width: 6%;
	}
	.colSix {
		width: 17%;
	}
	.productSource {
		word-break: break-all;
	}



	.icon-setup{
		background-image: url(../images/setup-icon.png);
        height: 20px;
        width: 20px;
        background-size: 100%;
        display: block;
        margin: auto;
	}
	.icon-delete{
		background-image: url(../images/delete-icon.png);
        height: 20px;
        width: 20px;
        background-size: 100%;
        display: block;
        margin: auto;
	}

	.btn-style{
		background-color: #eee;
	    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
	    color: #999;
	    border-radius: 4px;
	    font-size: 20px;
	    font-weight: 300;
	    margin-right: 10px;

	    .icon-overview{
	    	background-image: url(../images/ic_arrow_left.png);
		    height: 28px;
		    width: 10px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    display: inline-block;
		    float: left;
		    margin: auto;
		    margin-right: 10px;
	    }

	    .icon-change{
	    	background-image: url(../images/ic_change.png);
		    height: 26px;
		    width: 22px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    display: inline-block;
		    float: left;
		    margin: auto;
		    margin-right: 5px;
	    }
	}

	.checkbox-custom {
		width: 18px;
    	height: 18px;
		input {
			float: left;
			width: 18px;
		    height: 18px;
		    opacity: 0;
		    margin: 0;
		}
		label {
			width: 18px;
		    height: 18px;
		    border: 1px solid #E3E3E4;
		    border-radius: 2px;
		    margin-left: -18px;
		    float: left;
		}
		input:checked + label::after {
			content: "\e013";
		    font-family: 'Glyphicons Halflings';
		    width: 18px;
		    height: 18px;
		    color: #8BC534;
		    line-height: 16px;
		    font-weight: 100;
		}
	}

	.button-actions{
		margin-top: 30px;
	}
}
.status-order{
	height:30px;
	line-height:30px;
	padding:0 8px;
	text-transform:uppercase;
	color:#fff;
	font-size:12px;
	border-radius:50px;
	display:block;
	width:120px;
	text-align:center;
}
.status-order-cancelled{
	background-color:#E62151 !important;
}
.status-order-pending {
	background-color: #3F8CFA;
}
.status-order-completed{
	background-color:#0EC068 !important;
}
.status-order-processing{
	background-color:#f9cd3f !important;
}
.input-not-fix{
	background-color:#f7f9fd;
	border:1px solid #eff2f7;
	border-radius:4px;
	width:100%;
	height:35px;
	line-height:35px;
	padding:0 10px;
}
.container-order-edit{
	background-color:#fff;
	border-radius:4px;
	border:1px solid #eff2f7;
	padding:15px;
	margin-top:20px;
	.title-order-edit{
		font-size:13px;
		margin:25px 0 25px;
	}
	.row-order-edit{
		margin-bottom:15px;
		label{
			display:block;
			text-transform:capitalize;
			font-family: 'gotham-medium';
			font-size:13px;
		}
		.column-order-edit{
			width:180px;
			margin-right:20px;
			&:last-child{
				margin-right:0;
			}
		}
		.column-full-order-edit{
			width:380px;
		}
	}
	.container-product-list{
		.btn-add-next-product{
			border:1px solid #aab3bd;
			border-radius:4px;
			height:40px;
			line-height:40px;
			width:180px;
			text-align:center;
			display:block;
			color:#515659;
			font-family: 'gotham-medium';
			&:hover{
				text-decoration:none;
			}
		}
		.suadauphong {
			max-height: 480px;
        .order-row {
          margin: 20px auto;
          .second-row {
            margin-top: 5px;
          }
        }
		}
		.widget-product-ordered{
			background-color:#f7f9fd;
			border-radius:4px;
			border:1px solid #eff2f7;
			margin-bottom:10px;
			padding-bottom:10px;
			overflow-y: scroll;
			.no-background {
				background-color:transparent !important;
			}
			.btn-remove-product-ordered{
				float:right;
				padding-top:25px;
			}
			.photo-product-ordered{
				background-size:cover;
				background-position:center center;
				width:70px;
				height:70px;
				background-color:#fff;
				border:1px solid #eff2f7;
				border-radius:4px;
				margin-bottom:8px;
			}
			.product-name-ordered{
				padding-left:100px;
			}
			label{
				display:block;
				text-transform:capitalize;
				font-family: 'gotham-medium';
				font-size:13px;
				margin-top:5px;
			}
			.input-name-product-notfix{
				height:35px;
				line-height:35px;
				border-radius:4px;
				border:1px solid #eff2f7;
				font-size:13px;
				background-color:#fff;
				padding:0 10px;
			}
		}
	}
}
.action-order-edit{
	padding:30px 0 50px;
	margin-left:-13px;
}
.txt-center {
	text-align: center;
}
.orderStatus {
	.btn-group {
		//float:right;
		margin-bottom: 10px;
		border-radius: 25px;
		background-color: #f7f9fd;
		border:1px solid #e3e7ef;
		font-family: 'gotham-medium';
	}

	.btn-day {
		color: darkgray;
		width: 200px;
		border-radius: 25px;
		border:none;
		background-color: #f7f9fd;
		font-size:13px;
		height:50px;
		margin-right:5px;
		&:last-child{
			margin-right:0;
		}
	}
	.active-btn {
    background-color: #448aff;
    border-radius: 25px !important;
    color: white !important;
    font-weight: 800;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.3) !important;
	-moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.3) !important;
	box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.3) !important;
  }
}
.process-status-order{
	margin-left:15px;
	margin-right:15px;
	margin-bottom:15px;
	margin-top:10px;
	.btn-process-order{
		display: block;
		background-color: #dadada;
		height: 46px;
		border-radius: 0;
		position: relative;
		width: 100%;
		border:none;
		outline:none;
		font-size:13px;
		font-family: 'gotham-medium';
		.arrow-order{
			height:0;
			width:0;
			border-top: 23px solid transparent;
			border-bottom: 23px solid transparent;
			border-left: 20px solid #dadada;
			position:absolute;
			top:0;
			left:100%;
			z-index:1;
		}
		.arrow-order-left{
			height:0;
			width:0;
			border-top: 23px solid transparent;
			border-bottom: 23px solid transparent;
			border-left: 20px solid #f7f9fd;
			position:absolute;
			top:0;
			left:0;
			z-index:1;
		}
	}
	.active-btn{
		box-shadow: none !important;
		background-color:#448aff;
		border-radius:0 !important;
		color:#fff !important;
		.arrow-order{
			border-left: 20px solid #448aff !important;
		}
	}
}
