<div class="container-create-campaign add-video-page">
  <div class="header-campaign">
    <div class="row clearfix">
      <div class="col-sm-12 col-xs-12">
          <div class="new-page-title clearfix">
            <h4 class="capitalize medium-font pull-left">create new Campaign</h4>
          </div>
          <div class="navigation-create-campaign clearfix">
            <a>
              <span>1</span>
              <label class="uppercase">set trigger</label>
              <div class="line-bottom"></div>
            </a>
            <a class="active">
              <span>2</span>
              <label class="uppercase">link products</label>
              <div class="line-bottom"></div>
            </a>

            <a ng-if="campaign.custom">
              <span>3</span>
              <label class="uppercase">recipe</label>
              <div class="line-bottom"></div>
            </a>
            <a>
              <span ng-if="campaign.custom">4</span>
              <span ng-if="!campaign.custom">3</span>
              <label class="uppercase">campaign details</label>
              <div class="line-bottom"></div>
            </a>
          </div>
      </div>
    </div>
  </div>

  <div class="container-content-campaign">
    <div class="row clearfix">
      <div class="col-sm-7">
        <p class="medium-font uppercase margin-0 line-h">video triggers</p>
        <div class="container-video">
          <video preload="auto" controls id="videoCampain" style="margin-top:0;" class="cp-video" ng-click="SetTimeCurrent(this)">
            <source ng-src="{{mySrc}}" type="video/mp4" />
            <source ng-src="{{mySrc}}" type="video/ogg" />
          </video>
          <div class="navigationTimeline" id="navFrame" ng-if="triggerItems.length > 0" ng-show="showNavigationFrame">
            <ul style="width: {{triggerItems.length * 150 + triggerItems.length*2}}px; ">
              <li ng-repeat="trigger in triggerItems"
                ng-class="{'active': isActive($index) || currentSet == trigger.id}"
                ng-click="selectTriggers($index, trigger, $event)"
                uib-popover-template="dynamicPopover.templateUrl"
                popover-title="URL for frameset"
                popover-append-to-body="true"
                popover-is-open="frame.popover.isShowPopover"
                popover-trigger="click"
                popover-placement="top"
                popover-popup-delay="0"
                ns-popover-timeout="2000">
                <a>
                  <div class="frame-second">{{formatTime($index)}}</div>
                  <img ng-src="{{trigger.image_url}}" alt="{{trigger.id}}" />
                </a>
                <div ng-class="{'highlight-selected': trigger.isSelected}"></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="container-timeline-video">
          <div id="visualization" style="position: relative;  width: 100%;  overflow: hidden;">
            <!-- <div id="columnTimeLine" style="width: 2px; height: 100%; position: absolute; z-index: 100; border: 1px solid red;"></div> -->
            <div class="nagivation" style="position: absolute; top: 10px; right: 10px; z-index:10">
              <i class="ico-zoom ico-zoom-in" ng-click="zoom(0.1)"></i>
              <i class="ico-zoom ico-move-left" ng-click="move(0.1)"></i>
              <i class="ico-zoom ico-move-right" ng-click="move(-0.1)"></i>
              <i class="ico-zoom ico-zoom-out" ng-click="zoom(-0.1)"></i>
            </div>
          </div>
        </div>
        <div class="container-section-and-link clearfix">
          <div class="container-list-section pull-left">
            <p class="title-section-video clearfix">
              <span ng-show="currentSection.start !== -1" class="pull-left uppercase medium-font">{{currentSection.content}}</span>
              <span ng-show="currentSection.start === -1" class="pull-left uppercase medium-font">new section</span>
              <a class="pull-right">
                  <i ng-click="updateSection(false)" ng-show="currentSection.start === -1" class="fa fa-plus"></i>
                  <i ng-click="updateSection(true)" ng-hide="currentSection.start === -1" class="fa fa-pencil"></i>
                  <i ng-click="deleteSection()" ng-hide="currentSection.start === -1" class="fa fa-trash-o"></i>
              </a>
            </p>
            <div class="input-time-add-section clearfix">
              <input type="text" name="fromeFrame" ng-init="fromeFrame='00:00:00'" maxlength="8" ng-model="fromFrame" placeholder="hh:mm:ss" ng-blur="fromStringFromFrameTime()">
              <span>-</span>
              <input type="text" maxlength="8" format="number" ng-model="toFrame" placeholder="hh:mm:ss" ng-blur="fromStringToFrameTime()">
            </div>
          </div>
          <div class="set-url-image-video pull-left">
            <div class="widget-product-linked-video clearfix" ng-show="currentSection.start !== -1">
              <div ng-show="currentSection.products.length === 0">
                <p class="medium-font font-13 line-h">Please create section or select section to edit</p>
              </div>
              <div class="grid-product-linked-video" ng-repeat="product in currentSection.products" ng-click="viewProductDetail(product, $event)">
                <div class="box-product-linked-video" style="background-image:url({{product.image_url}});" ng-class="{'main': product.type === 'main'}">
                  <div class="action-product-linked">
                    <div class="table-center">
                      <div class="table-cell-midle">
                        <a ng-click="setMainProduct(product, $event)" ng-show="product.type !== 'main'" tooltip-placement="right" uib-tooltip="Set main product">
                          <i class="fa fa-heart-o"></i>
                        </a>
                        <a ng-show="product.type === 'main'">
                          <i class="fa fa-heart"></i>
                        </a>
                        <a ng-click="unSelectProductToLink(product, $event)">
                          <i class="fa fa-times-circle-o"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <span ng-if="product.quantity > 1" class="box-quantity-products">x{{product.quantity}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-section-and-link clearfix" ng-show="triggerItems.length === 0">
          <p>To link products set video section first</p>
        </div>
        <br>
        <div ng-show="currentSection.start !== -1">
          <p class="medium-font">Set Section URL <span class="medium-font uppercase txt-grey"></span></p>
          <input type="text" name="url" class="form-control" placeholder="Section URL" ng-model="currentSection.url" ng-change="updateSectionUrl()">
        </div>
      </div>
      <div class="col-sm-5">
        <div class="row clearfix">
          <div class="col-sm-6">
            <p class="medium-font uppercase margin-0">all products <span class="medium-font uppercase txt-grey">({{filtered.length}})</span></p>
          </div>
          <div class="col-sm-6">
            <div class="search-product-img-link">
              <input type="text" placeholder="Search product" ng-model="searchTitle" ng-change="filterByKeyword()"/>
              <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
          <div class="list-img-to-link list-product-video-row clearfix scrollbarJQuery">
            <div class="widget-img-to-link box-product-video" ng-repeat="product in displayProducts">
              <div class="box-img-to-link" ng-class="{'checked': product.isSelected}" ng-click="viewProductDetail(product, $event)">
                <div class="frame-product" style="background-image:url({{product.image_url}});"></diV>
                <p class="name-product-link capitalize">{{product.title}}</p>
                <div class="action-img-link">
                  <a class="btn-link-img-trigger" ng-hide="product.isSelected" ng-click="selectProductToLink(product, $event)">Link</a>
                  <a class="btn-link-img-trigger" ng-show="product.isSelected" ng-click="unSelectProductToLink(product, $event)">Unlink</a>
                  <div class="quantity-product-choose clearfix text-center">
                    <a ng-click="subQuantity(product, $event)">
                      <i class="fa fa-minus"></i>
                    </a>
                    <input type="text" class="quantity-product" ng-model="product.quantity"/>
                    <a ng-click="plusQuantity(product, $event)">
                      <i class="fa fa-plus"></i>
                    </a>
                  </div>
                  <div class="clearfix text-center">
                    <a ng-click="showProductDetail(product, $event)">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <!-- <a ng-click="deleteProduct(product)">
                      <i class="fa fa-trash-o"></i>
                    </a> -->
                  </div>
                </div>
                <span class="checked-product-link fa fa-check-circle"></span>
              </div>
            </div>
          </div>
          <div class="text-center">
            <uib-pagination total-items="filtered.length" ng-model="currentProductPage" items-per-page="itemsPerPage" max-size="maxPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-links="true" ng-change="changeProductPage()"></uib-pagination>
          </div>
          <div class="widget-add-product">
              <div class="row clearfix">
                  <div class="col-sm-6">
                      <a href="mailto:info@hotspotting.com?Subject=Adding%20Product%20Request" target="_top" class="btn-add-product">add new product</a>
                  </div>
                  <div class="col-sm-6">
                      <a target="_top" class="btn-add-product" ng-click="showAddProductDB = !showAddProductDB">add product from DB</a>
                  </div>
                  <div class="col-sm-12">
                      <div class="add-product-to-db">
                          <input type="text" placeholder="Add product from database" ng-show="showAddProductDB" ng-model="searchTitleProduct" ng-change="searchProductCMS()"/>
                          <div class="widget-list-products" ng-show="showAddProductDB" ng-class="{'block':searchTitleProduct.length > 2}" id="productCMSScroll">
                              <ul>
                                  <li class="clearfix" ng-repeat = "product in productsCMS">
                                      <div class="photo-product-amazon photo-center pull-left" style="background-image:url({{product.image || product.medium_image}})"></div>
                                      <div class="name-product-amazon capitalize">
                                          <p class="margin-0">{{product.name}}</p>
                                          <p class="margin-0 medium-font font-13">{{product.category[0] || ''}}</p>
                                          <p class="margin-0 medium-font font-13">{{product.price_min}} <span>{{product.currency}}</span></p>
                                      </div>
                                      <span class="btn-add-product-amazon" ng-if="!product.isLoading" ng-click="createProductFromCMS(product)">Add</span>
                                      <span class="btn-add-product-amazon" ng-if="product.isLoading"><img src="/content/images/preloader2.gif"/></span>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
    </div>
  </div>
  </div>
</div>
<div class="clearfix">
  <button class="btn-cancle" ng-click="previousStep()">
    <span class="icon-text">Cancel</span>
  </button>
  <button class="btn-next-step" ng-click="nextStep()">
    <span class="icon-text">Next</span>
  </button>
</div>
