<!-- <div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home.dashboard">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a class="active">About</a>
    </li>
  </ul>
</div> -->
<h3 class="page-title"> About </h3>
<div class="page-tutorials">
	<div class="row">
		<div class="col-md-12">
			 <h4>Build Number </h4>
       Version 2.5
<!-- 			 <a ui-sref="verifyemail({ email: 'test@a.com', verify_code: '123456abc' })" class="hidden">Test User Verify Email</a> -->
      <h4>Release Date </h4>
      30 April, 2016

		</div>
	</div>
</div>
