<div class="col-md-6 col-xs-12">
	<div class="portlet light bordered radius no-margin" >
		<div class="title-sub clearfix">
			Gender & Ages
		</div>

		<div class="row">
  			<div class="col-md-12 col-sm-12 col-xs-12">
  					<div class="gender-analytics m-first">
						<div class="progress">
						  <div class="progress-bar progress-bar-striped " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
						    <span class="sr-only">45% Complete</span>
						  </div>
						</div>
						<i class="icon-symbol-male"></i>
						<span class="value">0%</span>
					</div>
					<div class="gender-analytics">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
						    <span class="sr-only">0% Complete</span>
						  </div>
						</div>
						<i class="icon-symbol-female"></i>
						<span class="value">0%</span>
					</div>
  			</div>
  		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<highchart  config="chartAgeConfig.A1"></highchart>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
			<highchart  config="chartAgeConfig.A1" ></highchart>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<highchart  config="chartAgeConfig.A1" ></highchart>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<highchart  config="chartAgeConfig.A1" ></highchart>
			</div>
   		</div>
	</div>
</div>

<!--   <div class="fex-box">
  	<div class="f-col-1">
  		<div class="row">
  			<div class="col-md-12 col-sm-12 col-xs-12">
  				<highchart  config="chartGenderConfig"></highchart>
  			</div>
				
  		</div>
       		
       </div>
       <div class="f-col-3">
       		<div class="row">
   				<div class="col-md-3 col-sm-6 col-xs-12">
   					<highchart  config="chartAgeConfig.A1" ></highchart>
   				</div>
   				<div class="col-md-3 col-sm-6 col-xs-12">
					<highchart  config="chartAgeConfig.A1" ></highchart>
   				</div>
   				<div class="col-md-3 col-sm-6 col-xs-12">
   					<highchart  config="chartAgeConfig.A1" ></highchart>
   				</div>
   				<div class="col-md-3 col-sm-6 col-xs-12">
   					<highchart  config="chartAgeConfig.A1" ></highchart>
   				</div>
       		</div>
       </div>

</div> -->
