<div class="row m-bottom-20">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  <!-- <div id="map_canvas" style="min-height:400px" ui-map="$parent.myMap" ui-options="mapOptions" ui-event="{'map-click': 'addMarker($event, $params)', 'map-idle': 'onMapIdle()', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())'}">
	  </div> -->

	  <div ui-map="$parent.myMap" ui-options="mapOptions" class="map-canvas" ui-event="{'map-click': 'addMarker($event, $params)', 'map-idle': 'onMapIdle()', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())'}"></div>
	</div>

</div>