<!-- Modal-Image-Upload -->
<div class="modal fade large" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Accounts</h4>
      </div>
      <div class="modal-body">
        <p class="msg">You have not added any Account</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default add-brand-btn" data-toggle="modal" data-target="#modalAccount">Add
          Brand...
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal-Image-Upload End-->
