<div class="modal-header">
	<button type="button" class="close" ng-click="closeModal()">
		<span>&times;</span>
	</button>
	<h1 class="modal-title heading-title" id="myModalLabel">Edit Trigger</h1>
</div>
<div class="modal-body">
	<div class="form-group">
		<label for="input-BrandName">Url</label>
		<form name="url" ng-class="{ 'has-error':  url.name.$error.url || url.name.$error.required}">
			<input type="url" value="" class="form-control" name="name" id="inputBrandName" ng-model="trigger.url" required>
			<span ng-show="url.name.$error.required" class="help-block">Please enter a url.</span>
			<span ng-show="url.name.$error.url" class="help-block">Please enter a valid url.</span>
		<form>
	</div>
	<div class="form-group" ng-class="{ 'has-error':  trigger.validationImage || trigger.invalidImage}" style="margin-bottom:0px">

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="width: 70%">

				<div ng-if="trigger.type=='image'">
					<label for="input-image">Image</label>
					<div class="image-review" >
						<img ng-src="{{trigger.image_url}}" style="max-height: 200px; max-width: 200px"/>
					</div>
					<img ng-src="{{trigger.image_url}}" class="hidden" id="imageId" />
					<span ng-show="trigger.invalidImage" class="help-block">Invalid image. Please select again.</span>
					<span ng-show="trigger.validationImage" class="help-block">Size image is too small(640x480) <i class="fa fa-expand" title="Click here to reszie" style="color:black" ng-click="resizeImage()"></i></span>
					<input type="file" id="uploadHelper" class="no-background add-image-btn trigger-campaign-image" trigger="trigger" style="padding-top:10px; width: 88px; float:left" accept="image/*">
					<div id="filenames" style="float:left; padding-top:12px; font-size:14px; padding-left:10px">No file select</div>
				</div>
				<div ng-if="trigger.type=='keyword'">
					<label for="input-image">Keyword</label>
					<input value="" class="form-control" name="name" id="inputBrandName" ng-model="trigger.content">
				</div>
				<span class="error">{{messageError}}</span>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<div class="submit-btn-group">
		<div class="row">
			<div class="col-xs-12">
				<button type="button" class="btn btn-custom pull-left" ng-click="updateTrigger()"
						ng-disabled="url.name.$error.url || url.name.$error.required || isProcessing || trigger.validationImage || trigger.invalidImage" ng-class="{ 'loading' : isProcessing}">
					<span class="icon-text">Submit</span>
				</button>
				<div class="pull-right">
					<b>Image guidelines</b>
					<div>
						Width: 640px(min), Height: 480px(min)
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
