<div class="navbar-fixed-left">
  <div class="left-menu">
    <div class="media" ui-sref="home.dashboard" ng-class="{active:$state.includes('home.dashboard')}">
      <div class="media-left media-middle" >
        <div class="icon-dashboard" style="background-image: url(../content/images/ic/ic_dashboard.png); " ></div>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Dashboard</h4>
      </div>
    </div>
    <div class="media" ui-sref="home.products" ng-class="{active:$state.includes('home.products')}">
      <div class="media-left media-middle" >
        <div class="icon-product" style="background-image: url(../content/images/ic/ic_products.png); " ></div>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Manage Products</h4>
      </div>
    </div>
    <div class="media" ui-sref="home.orderHistory" ng-class="{active:$state.includes('home.orderHistory')}">
      <div class="media-left media-middle" >
        <div class="icon-product" style="background-image: url(../content/images/ic/ic_order.png); " ></div>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Orders History</h4>
      </div>
    </div>
    <div class="media" ui-sref="home.accounts" ng-class="{active:$state.includes('home.accounts')}">
      <div class="media-left media-middle" >
        <div class="icon-account" style="background-image: url(../content/images/ic/ic_account.png); " ></div>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Create Campaigns</h4>
      </div>
    </div>
    <div class="media" ui-sref="home.analytics" ng-class="{active:$state.includes('home.analytics')}">
      <div class="media-left media-middle" >
        <div class="icon-analytics" style="background-image: url(../content/images/ic/ic_analytics.png); " ></div>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Results</h4>
      </div>
    </div>
    <div class="media" ui-sref="home.tutorials" ng-class="{active:$state.includes('home.tutorials')}">
      <div class="media-left media-middle" >
        <div class="icon-tutorial" style="background-image: url(../content/images/ic/ic_tutorials.png); " ></div>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Tutorials</h4>
      </div>
    </div>
    <div class="media" ui-sref="home.faqs" ng-class="{active:$state.includes('home.faqs')}">
      <div class="media-left media-middle" >
        <div class="icon-faqs" style="background-image: url(../content/images/ic/ic_faqs.png); " ></div>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading">FAQs</h4>
      </div>
    </div>
  </div>
</div>