<div class="sign-in-container">
	<header class="sign-in-header">
		<div class="container" data-ng-include="'views/layout/login-nav.html'"></div>
	</header>
	<section class="row sign-in-content">
		<div class="container">
			<div class="row visual-images">
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<div ui-view=""></div>
				</div>
			</div>
		</div>
	</section>
	<footer class="sign-in-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p class="copyright-text" >Copyright © HOTSPOTTING 2016</p>
				</div>
			</div>
		</div>
	</footer>
</div>
