<div class="container-box-content">
	<p class="uppercase medium-font font-13 margin-b-15">
		linked campaigns for <span class="txt-blue">ray-ban wayfarer</span>
	</p>
	<div class="widget-add-campaign-product">
		<div class="row clearfix">
			<div class="col-sm-3">
				<label>campaign type</label>
				<select>
					<option></option>
				</select>
			</div>
			<div class="col-sm-4">
				<label>campaign name</label>
				<select>
					<option></option>
				</select>
			</div>
		</div>
	</div>
	<a href="#" class="btn-add-next-store-link btn-next-campaign medium-font">Add next campaign</a>
</div>
<div class="clearfix">
	<button class="btn-cancle medium-font"><span class="icon-text">Back</span></button>
	<button class="btn-save medium-font"><span class="icon-text">Save</span></button>
</div>