<div class="container-box-content">
	<p class="uppercase medium-font font-13 margin-b-15">
		set store with <span class="txt-blue">ray-ban wayfarer</span>
	</p>
	<div class="widget-add-store-link">
		<div class="count-number-store-link medium-font">
			<div class="table-center">
				<div class="table-cell-midle">
					1
				</div>
			</div>
		</div>
		<div class="box-add-store-link">
			<div class="row clearfix">
				<div class="col-sm-7">
					<label>external store product link</label>
					<div class="clearfix">
						<div class="text-http font-13 txt-grey pull-left">http:\\</div>
						<input type="text" placeholder="Paste Link" class="input-past-link pull-left"/>
					</div>
				</div>
				<div class="col-sm-5">
					<label>store product price</label>
					<div class="clearfix">
						<select class="pull-left">
							<option>$</option>
						</select>
						<input type="text" placeholder="Amound" class="input-past-link pull-left"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="btn-add-next-store-link medium-font">Add next Store Link</a>
</div>
<div class="clearfix">
	<button class="btn-cancle medium-font"><span class="icon-text">Back</span></button>
	<button class="btn-save medium-font"><span class="icon-text">Next</span></button>
</div>