<div class="container-create-new-product">
	<div class="header-campaign">
      <div class="new-page-title clearfix">
        <h4 class="capitalize medium-font pull-left">Add new product</h4>
      </div>
      <div class="navigation-create-campaign clearfix">
        <a class="active">
          <span>1</span>
          <label class="uppercase">details</label>
          <div class="line-bottom"></div>
        </a>
        <a>
          <span>2</span>
          <label class="uppercase">similar products</label>
          <div class="line-bottom"></div>
        </a>
        <a>
          <span>3</span>
          <label class="uppercase">store links</label>
          <div class="line-bottom"></div>
        </a>
        <a>
          <span>3</span>
          <label class="uppercase">linked campaigns</label>
          <div class="line-bottom"></div>
        </a>
      </div>
  </div>
  <div class="container-box-content">
  	<div class="row clearfix">
  		<div class="col-sm-5">
  			<div class="input-detail-products">
  				<label>product name</label>
  				<input type="text" placeholder="Product Name" />
  				<label>brand</label>
  				<input type="text" placeholder="Brand Name" />
  				<label>category</label>
  				<select>
  					<option>Choose Category</option>
  				</select>
  				<label>product code</label>
  				<input type="text" placeholder="Code" />
  				<label>description</label>
  				<textarea rows="5"></textarea>
  			</div>
  		</div>
  		<div class="col-sm-6">
  			<div class="input-detail-products">
  				<label>product image</label>
          <div class="container-list-photo-detail">
    				<div class="input-file-photo-product relative">
    					<i class="icon-cloud-upload text-center"></i>
    					<p class="medium-font font-13 text-center">
    						Simply drag and drop or png file<br>
    						or <span class="txt-blue">browse</span> to upload product image
    					</p>
    					<input type="file" />
    				</div>
            <div class="list-photo-detail-uploaded">
              <div class="widget-list-photo-detail clearfix">
                <div class="box-photo-detail-uploaded">
                  <div class="frame-photo-detail-uploaded photo-center relative" style="background-image:url(http://www.raybanstore.vn/profiles/raybanstorevn/uploads/attach/1453796829_rb410560150-22.jpg);">
                    <div class="btn-remove-photo-relate">
                      <div class="table-center">
                        <div class="table-cell-midle">
                          <a href="#">
                            <i class="ico-remove-w"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="clearfix">
  	<button class="btn-cancle medium-font"><span class="icon-text">Cancel</span></button>
  	<button class="btn-save medium-font"><span class="icon-text">Next</span></button>
  </div>
</div>