<div class="container-box-content">
	<div class="row clearfix">
		<div class="col-sm-5">
			<p class="medium-font uppercase font-13 line-h-30">
				similar product to <span class="txt-blue">ray-ban wayfarer</span>
			</p>
			<div class="list-photo-relate-product clearfix">
				<p class="txt-grey medium-font font-13 text-center margin-0" style="padding:30px 0;display:none;">
					Choose products from list on the right
				</p>
				<div class="widget-product-relate">
					<div class="box-product-relate photo-center" style="background-image:url(http://www.raybanstore.vn/profiles/raybanstorevn/uploads/attach/1453796829_rb410560150-22.jpg);">
						<div class="btn-remove-photo-relate">
							<div class="table-center">
								<div class="table-cell-midle">
									<a href="#">
										<i class="ico-remove-w"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-7">
			<div class="row clearfix">
				<div class="col-sm-5">
					<p class="medium-font uppercase font-13 line-h-30">
						all product <span class="txt-grey">(43,344)</span>
					</p>
				</div>
				<div class="col-sm-7">
					<div class="widget-text-box relative">
		              	<span class="ico-search-table ico-search"></span>
		              	<input type="text" placeholder="Search" >
		          	</div>
				</div>
			</div>
			<div class="list-img-to-link list-product-video-row clearfix scrollbarJQuery" tabindex="0" style="overflow: hidden; outline: none;">
	            <div class="widget-img-to-link box-product-video" >
	              <div class="box-img-to-link">
	                <div class="frame-product" style="background-image:url(http://d3pvo52k09q9d.cloudfront.net/img/product/product-1462950488iuVPYLFGyQimage.jpeg);"></div>
	                <p class="name-product-link capitalize">Nutty granola</p>
	                <!-- <div class="action-img-link">
	                  <a class="btn-link-img-trigger" ng-hide="product.isSelected" ng-click="selectProductToLink(product)">Link</a>
	                  <a class="btn-link-img-trigger ng-hide" ng-show="product.isSelected" ng-click="unSelectProductToLink(product)">Unlink</a>
	                </div> -->
	                <span class="checked-product-link fa fa-check-circle"></span>
	              </div>
	            </div>
          </div>
		</div>
	</div>
</div>
<div class="clearfix">
	<button class="btn-cancle medium-font"><span class="icon-text">Back</span></button>
	<button class="btn-save medium-font"><span class="icon-text">Next</span></button>
</div>